body {
    font-family: Arial, sans-serif; /* Sets the font for the body */
    margin: 0; /* Removes margin */
    padding: 0; /* Removes padding */
    background-color: #f4f4f4; /* Sets background color */
    color: #333; /* Sets text color */
}

header {
    background-color: #333; /* Sets header background color */
    color: #fff; /* Sets text color in header to white */
    padding: 10px 0; /* Adds padding to header */
    text-align: center; /* Centers the header text */
}

nav ul {
    list-style-type: none; /* Removes bullet points from list */
    padding: 0; /* Removes padding */
}

nav ul li {
    display: inline; /* Displays list items inline */
    margin: 0 15px; /* Sets margin around list items */
}

nav ul li a {
    color: #fff; /* Sets the color of links in the navigation to white */
    text-decoration: none; /* Removes underline from links */
}

section {
    padding: 20px; /* Adds padding inside sections */
    margin: 20px; /* Adds margin around sections */
    background-color: #fff; /* Sets background color of sections to white */
    border-radius: 8px; /* Rounds the corners of sections */
}

.project {
    margin: 20px 0; /* Adds vertical margin to project divs */
}

footer {
    text-align: center; /* Centers footer text */
    padding: 10px 0; /* Adds padding to the footer */
    background-color: #333; /* Sets footer background color */
    color: #fff; /* Sets footer text color to white */
}
